In [4]:
## Scratch book to add latitude and longitude to the ncaa team table

import pandas as pd
import numpy as np

# load the team table
ncaa_df = pd.read_csv('../data/ncaa_com_fbs_fcs_table.csv')

In [5]:
ncaa_df.columns

Index(['full_name', 'division', 'subdivision', 'conference_id',
       'conference_name', 'reclass_year', 'reclass_division',
       'reclass_subdivision', 'private', 'historically_black', 'region',
       'state', 'simple_name'],
      dtype='object')

In [6]:
## get latitude and longitude for each team using the full_name

import requests
import pandas as pd
from tqdm import tqdm

# Load the CSV file into a DataFrame
df = ncaa_df

# Your Google API Key
API_KEY = 'AIzaSyCnVFNJ7I-Muja5_9tmWiP37nxLnmMrUQw'

# Define the function to get latitude and longitude
def get_lat_lon(place_name):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {
        'address': place_name,
        'key': API_KEY
    }
    response = requests.get(base_url, params=params)
    res_json = response.json()
    
    if res_json['status'] == 'OK':
        location = res_json['results'][0]['geometry']['location']
        return location['lat'], location['lng']
    else:
        return None, None

df['Latitude'], df['Longitude'] = zip(*tqdm(df['full_name'].apply(get_lat_lon), total=df.shape[0]))


df.head()

100%|██████████| 261/261 [00:00<00:00, 262144.00it/s]

,full_name,division,subdivision,conference_id,conference_name,reclass_year,reclass_division,reclass_subdivision,private,historically_black,region,state,simple_name,Latitude,Longitude
0,Abilene Christian University,1,FCS,920,ASUN Conference,NaN,NaN,NaN,Y,N,SOUTH REGION,TX,Abilene Christian,32.470092,-99.708010
1,Alabama A&M University,1,FCS,916,Southwestern Athletic Conf.,NaN,NaN,NaN,N,Y,SOUTH REGION,AL,Alabama A&M,34.783841,-86.572224
2,Alabama State University,1,FCS,916,Southwestern Athletic Conf.,NaN,NaN,NaN,N,Y,SOUTH REGION,AL,Alabama State,32.362976,-86.293980
3,University at Albany,1,FCS,837,Coastal Athletic Association,NaN,NaN,NaN,N,N,EAST REGION,NY,Albany,42.685027,-73.824790
4,Alcorn State University,1,FCS,916,Southwestern Athletic Conf.,NaN,NaN,NaN,N,Y,SOUTH REGION,MS,Alcorn State,31.874151,-91.136573

In [7]:
# save the dataframe
df.to_csv('../data/ncaa_com_fbs_fcs_table_with_location.csv', index=False)

In [9]:
# any empty values of latitude and longitude?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   full_name            261 non-null    object
 1   division             261 non-null    int64
 2   subdivision          261 non-null    object
 3   conference_id        261 non-null    int64
 4   conference_name      261 non-null    object
 5   reclass_year         5 non-null      float64
 6   reclass_division     5 non-null      float64
 7   reclass_subdivision  5 non-null      float64
 8   private              261 non-null    object
 9   historically_black   261 non-null    object
 10  region               261 non-null    object
 11  state                261 non-null    object
 12  simple_name          261 non-null    object
 13  Latitude             259 non-null    float64
 14  Longitude            259 non-null    float64
dtypes: float64(5), int64(2), object(8)
memory usage: 30.7+ KB